<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zju.isee.cms.mapper.CTMapper" >
    <resultMap id="BaseResultMap" type="cn.edu.zju.isee.cms.entity.CT" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="slideNum" property="slideNum" jdbcType="INTEGER" />
        <result column="buildTime" property="buildTime" jdbcType="TIMESTAMP" />
        <result column="baseDir" property="baseDir" jdbcType="VARCHAR" />
        <result column="patientName" property="patientName" jdbcType="VARCHAR" />
        <result column="doctors" property="doctors" jdbcType="VARCHAR" />
        <result column="descr" property="descr" jdbcType="VARCHAR" />
        <result column="hospital" property="hospital" jdbcType="VARCHAR" />
        <result column="item" property="item" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, slideNum, buildTime, baseDir, patientName, doctors, descr, hospital, item
    </sql>

    <insert id="insert" parameterType="cn.edu.zju.isee.cms.entity.CT" useGeneratedKeys="true" keyProperty="id" >
        insert into ct        <trim prefix="(" suffix=")" suffixOverrides="," >
            <!--<if test="id != null" >-->
                <!--id,-->
            <!--</if>-->
            <if test="slideNum != null" >
                slideNum,
            </if>
            <if test="buildTime != null" >
                buildTime,
            </if>
            <if test="baseDir != null" >
                baseDir,
            </if>
            <if test="patientName != null" >
                patientName,
            </if>
            <if test="doctors != null" >
                doctors,
            </if>
            <if test="descr != null" >
                descr,
            </if>
            <if test="hospital != null" >
                hospital,
            </if>
            <if test="item != null" >
                item,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <!--<if test="id != null" >-->
                <!--#{id,jdbcType=INTEGER},-->
            <!--</if>-->
            <if test="slideNum != null" >
                #{slideNum,jdbcType=INTEGER},
            </if>
            <if test="buildTime != null" >
                #{buildTime,jdbcType=TIMESTAMP},
            </if>
            <if test="baseDir != null" >
                #{baseDir,jdbcType=VARCHAR},
            </if>
            <if test="patientName != null" >
                #{patientName,jdbcType=VARCHAR},
            </if>
            <if test="doctors != null" >
                #{doctors,jdbcType=VARCHAR},
            </if>
            <if test="descr != null" >
                #{descr,jdbcType=VARCHAR},
            </if>
            <if test="hospital != null" >
                #{hospital,jdbcType=VARCHAR},
            </if>
            <if test="item != null" >
                #{item,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>

    <select id="selectById" resultType="cn.edu.zju.isee.cms.entity.CT" parameterType="java.lang.Integer">
        SELECT * FROM ct WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAllIds" resultType="java.lang.Integer">
        SELECT id FROM ct
    </select>

    <update id="updateById" parameterType="cn.edu.zju.isee.cms.entity.CT">
        UPDATE ct SET
        <!--<if test="id != null" >-->
        <!--id,-->
        <!--</if>-->
        <if test="slideNum != null" >
            slideNum = #{slideNum,jdbcType=INTEGER},
        </if>
        <if test="buildTime != null" >
            buildTime = #{buildTime,jdbcType=TIMESTAMP},
        </if>
        <if test="baseDir != null" >
            baseDir = #{baseDir,jdbcType=VARCHAR},
        </if>
        <if test="patientName != null" >
            patientName = #{patientName,jdbcType=VARCHAR},
        </if>
        <if test="doctors != null" >
            doctors = #{doctors,jdbcType=VARCHAR},
        </if>
        <if test="descr != null" >
            descr = #{descr,jdbcType=VARCHAR},
        </if>
        <if test="hospital != null" >
            hospital = #{hospital,jdbcType=VARCHAR},
        </if>
        <if test="item != null" >
            item = #{item,jdbcType=VARCHAR}
        </if>
        <if test="id != null" >
        WHERE id = #{id,jdbcType=INTEGER}
        </if>

    </update>

    <!--<insert id="insert" parameterType="cn.edu.zju.isee.cms.entity.CT" useGeneratedKeys="true" keyProperty="id">-->
        <!--insert into ct (slideNum, buildTime, baseDir, patientName, doctors, descr)-->
        <!--values ( #{slideId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR},#{absolutePath,jdbcType=VARCHAR})-->
    <!--</insert>-->

    <!--<select id="selectBySlideId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
        <!--select * from lung_img-->
        <!--where slideId = #{slideId,jdbcType=INTEGER}-->
    <!--</select>-->

    <!--<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
        <!--select * from lung_img-->
        <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</select>-->

</mapper>