<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zju.isee.cms.mapper.CTSlideMapper" >
    <resultMap id="BaseResultMap" type="cn.edu.zju.isee.cms.entity.CTSlide" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="ctId" property="ctId" jdbcType="INTEGER" />
        <result column="serialNum" property="serialNum" jdbcType="INTEGER" />
        <result column="slideName" property="slideName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, ctId, serialNum, slideName
    </sql>

    <insert id="insert" parameterType="cn.edu.zju.isee.cms.entity.CTSlide" useGeneratedKeys="true" keyProperty="id" >
        insert into ct_slide     <trim prefix="(" suffix=")" suffixOverrides="," >
        <!--<if test="id != null" >-->
        <!--id,-->
        <!--</if>-->
        <if test="ctId != null" >
            ctId,
        </if>
        <if test="serialNum != null" >
            serialNum,
        </if>
        <if test="slideName != null" >
            slideName,
        </if>
    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <!--<if test="id != null" >-->
            <!--#{id,jdbcType=INTEGER},-->
            <!--</if>-->
            <if test="ctId != null" >
                #{ctId,jdbcType=INTEGER},
            </if>
            <if test="serialNum != null" >
                #{serialNum,jdbcType=TIMESTAMP},
            </if>
            <if test="slideName != null" >
                #{slideName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectAllIds" resultType="java.lang.Integer">
        SELECT id FROM ct_slide
    </select>

    <select id="selectById" resultType="cn.edu.zju.isee.cms.entity.CTSlide" parameterType="java.lang.Integer">
        SELECT * FROM ct_slide WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByCtId" resultType="cn.edu.zju.isee.cms.entity.CTSlide" parameterType="java.lang.Integer">
        SELECT * FROM ct_slide WHERE ctId = #{ctId,jdbcType=INTEGER}
    </select>

    <select id="selectByTwo" resultType="cn.edu.zju.isee.cms.entity.CTSlide" parameterType="java.lang.Integer">
        SELECT * FROM ct_slide WHERE ctId = #{ctId,jdbcType=INTEGER} AND serialNum = #{serialNum,jdbcType=INTEGER}
    </select>

    <update id="updateById" parameterType="cn.edu.zju.isee.cms.entity.CTSlide">
        UPDATE ct_slide SET
        <!--<if test="id != null" >-->
        <!--id,-->
        <!--</if>-->
        <if test="slideName != null" >
            slideName = #{slideName,jdbcType=VARCHAR},
        </if>
        <if test="serialNum != null" >
            serialNum = #{serialNum,jdbcType=INTEGER},
        </if>
        <if test="ctId != null" >
            ctId = #{ctId,jdbcType=INTEGER}
        </if>
        <if test="id != null" >
            WHERE id = #{id,jdbcType=INTEGER}
        </if>

    </update>

</mapper>